.interface  {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  left: 0;

  .buttons {


    .button {
      position: relative;


      &:hover {
        cursor: pointer;
      }
      
      img{
        width: 100px;
    }
    }
  }
}


.htmlScreen iframe {
    width: 780px;
    height: 720px;
    border: none;
    border-radius: 20px;
    background-color: black;
}