.interface  {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(154, 154, 154, 0.5);
    border-radius: 10px;
    pointer-events: auto;
  }



    .button {
      position: relative;

      transition-duration: 0.1s;
      &:hover {
        cursor: pointer;
        scale: 1.2;
      }
      
      img{
        width: 85px;
    }
    }
}
@media (orientation: landscape) {
    .interface { 
      height: 100%;
      left: 10px;
      top: 0;
      .buttons {
        flex-direction: column;
      }
    }
}

@media (orientation: portrait) {

    .interface { 
      bottom: 20px;
      width: 100%;

      .buttons {
        flex-direction: row;
      }
     }
}

.htmlScreen iframe {
  position: relative;
    width: 800px;
    left: 9px;
    height: 788px;
    border: none;
    border-radius: 4px;
    background-color: black;
}